# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Strava
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=
VITE_STRAVA_CLIENT_ID=

# Garmin
GARMIN_CLIENT_ID=
GARMIN_CLIENT_SECRET=
GARMIN_REDIRECT_URI=
VITE_GARMIN_CLIENT_ID=